
#cima{
    display: flex;
    background-color: rgb(183, 214, 255);
    margin: 40px;
    border-radius: 8px;
}


.primeiro_cima{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-size: 15px;
    
}
.img_primeiro_cima{
    height: 200px;
    background-color: rgb(183, 214, 255);
    border-radius: 8px;
}

p{
background-color: blue;
color: white;
font-size: 15px;
display: inline-block;
padding: 10px;
border-radius: 8px;
}

.primeiro_cima2{
background-color: blue;
color: white;
font-size: 15px;
display: inline-block;
padding: 10px;
border-radius: 8px;
}